body {
    background-color: white;
}

#banner {
    background-color: #283618;
    color: white;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0.2cap;
}

.button {
    background-color: #B7A696;
    color: white;
    border: none;
}

.button:hover {
    background-color: #9c8671;
}

h1 {
    text-align: center;
    font-family: "Sedan SC", serif;
    color: rgb(62, 68, 60)
}

h3 {
    font-family: "Pinyon Script", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

h4 {
    font-family: "Julius Sans One", serif;
    font-weight: 400;
    font-style: normal;
}

label {
    text-transform: uppercase;
    letter-spacing: 0.2cap;
    color: rgb(62, 68, 60, 0.8)
    
}
#address {
    text-transform: uppercase;
    font-size: 0.7rem;
}

#form {
    width: 50%;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#green_floral_img {
    width: 25%;
}


.nav-item {
    margin: 20px;
    font-family: "Julius Sans One", serif;
    font-weight: 400;
    font-style: normal;
    
}

/****** MOBILE ******/
@media only screen and (max-width: 768px) {
    #form, #green_floral_img {
        width: 75%;
    }
}